In [1]:
from opponent_analysis.data import Data
import pandas as pd
import matplotlib.pyplot as plt
from mplsoccer import Pitch
from mplsoccer.utils import FontManager
import numpy as np

2024-01-04 19:14:29.338 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2024-01-04 19:14:29.341 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2024-01-04 19:14:29.342 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [2]:
data=Data()
df=data.get_data()

2024-01-04 19:14:32.009
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/borgwardt/Library/Caches/pypoetry/virtualenvs/euro2022-jflC4-0A-py3.11/lib/python3.11/site-packages/ipykernel_launcher.py [ARGUMENTS]
2024-01-04 19:14:32.010 No runtime found, using MemoryCacheStorageManager
2024-01-04 19:14:32.010 No runtime found, using MemoryCacheStorageManager
2024-01-04 19:14:32.620 No runtime found, using MemoryCacheStorageManager

In [33]:
df_passes=df[["player","team","match_id","location","pass_end_location","pass_outcome","freeze_frame"]].dropna(subset=["location","pass_end_location","freeze_frame"],axis=0)
df_passes_complete=df_passes[df_passes["pass_outcome"].isnull()]
df_passes_complete

,player,team,match_id,location,pass_end_location,pass_outcome,freeze_frame
6,Ramona Bachmann,Switzerland Women's,3835331,"[60.0, 40.0]","[41.6, 36.5]",NaN,"[{'teammate': True, 'actor': False, 'keeper': ..."
7,Lia Wälti,Switzerland Women's,3835331,"[41.8, 32.4]","[39.2, 8.5]",NaN,"[{'teammate': True, 'actor': False, 'keeper': ..."
8,Eseosa Aigbogun,Switzerland Women's,3835331,"[38.6, 8.1]","[25.1, 20.7]",NaN,"[{'teammate': True, 'actor': False, 'keeper': ..."
9,Luana Bühler,Switzerland Women's,3835331,"[25.5, 22.4]","[9.7, 33.7]",NaN,"[{'teammate': True, 'actor': True, 'keeper': F..."
10,Gaëlle Thalmann,Switzerland Women's,3835331,"[10.3, 27.1]","[12.9, 7.6]",NaN,"[{'teammate': True, 'actor': True, 'keeper': T..."
...,...,...,...,...,...,...,...
98984,Ella Toone,England Women's,3835319,"[56.2, 10.6]","[80.2, 4.4]",NaN,"[{'teammate': True, 'actor': False, 'keeper': ..."
98987,Laura Wienroither,Austria Women's,3835319,"[13.9, 69.5]","[18.1, 66.4]",NaN,"[{'teammate': True, 'actor': False, 'keeper': ..."
98988,Sarah Puntigam,Austria Women's,3835319,"[18.1, 66.4]","[25.2, 73.9]",NaN,"[{'teammate': True, 'actor': False, 'keeper': ..."
98990,Leah Williamson,England Women's,3835319,"[42.1, 14.2]","[27.5, 33.5]",NaN,"[{'teammate': True, 'actor': False, 'keeper': ..."
98991,Mary Alexandra Earps,England Women's,3835319,"[27.3, 30.6]","[54.3, 70.4]",NaN,"[{'teammate': True, 'actor': True, 'keeper': T..."

In [25]:
def get_passed_opponents(row):
    passed_opponents=0
    for player in row["freeze_frame"]:
        if not player["teammate"]:
            if row["location"][0]<player["location"][0]<row["pass_end_location"][0]:
                passed_opponents=passed_opponents+1
    return passed_opponents

In [27]:
df_passes_complete["passed_opponents"]=df_passes_complete.apply(get_passed_opponents,axis=1)

/var/folders/yj/8c2nhrwn40d8djrpr9f3vjm9t51h_p/T/ipykernel_3640/4246607473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes_complete["passed_opponents"]=df_passes_complete.apply(get_passed_opponents,axis=1)

In [32]:
df_passes_complete.groupby(["team","player"]).passed_opponents.sum().sort_values(ascending=False)

team                 player
England Women's      Leah Williamson                666
Spain Women's        María Pilar León Cebrián       616
                     Irene Paredes Hernandez        537
France Women's       Wendie Renard                  506
England Women's      Keira Walsh                    500
                                                   ...
Switzerland Women's  Lara Marti                       0
Iceland Women's      Amanda Jacobsen Andradóttir      0
Germany Women's      Laura Freigang                   0
WNT Finland          Amanda Rantanen                  0
                     Jenny Danielsson                 0
Name: passed_opponents, Length: 303, dtype: int64